<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/about.css">
        <link rel="icon" type="image/png" href="/img/favicon.jpeg">
        <script defer src="/js/about.js"></script>
    </head>
    <body>
        

        <section class="hidden">
            <h1>hi!</h1>
            <p>We are Thyrolead &#x1F44B;</p>
        </section>
        
        <section class="hidden" id="information">
            <div class="info">
                <h3>We are here to care for your thyroid health.</h3>
            <p>
            Caring for your thyroid is paramount to maintaining overall health and well-being. As a vital gland that regulates metabolism and energy 
            production, the thyroid plays a crucial role in numerous bodily functions. Regular thyroid care involves simple yet impactful practices, such as 
            maintaining a well-balanced diet rich in iodine, a key element for thyroid hormone synthesis. Adequate hydration and stress management also contribute to a healthy thyroid.<br><br>
            Regular check-ups with healthcare professionals help monitor thyroid function, ensuring early detection and management of any disorders. Medication adherence for those 
            with thyroid conditions, whether hypothyroidism or hyperthyroidism, is essential for symptom control and preventing complications. <br><br>Additionally, adopting a thyroid-friendly 
            lifestyle, including regular exercise and sufficient sleep, supports overall thyroid health.By prioritizing thyroid care, individuals can optimize their metabolism, 
            energy levels, and overall quality of life. A proactive approach to thyroid well-being fosters a foundation for a healthier, more balanced life.
            </p></div>
        </section>

        <section class="hidden" id="sec2">
            <h2>Here's how we help: </h2>
            <br><br>
            <pre>
    1. Use our A.I to predict your thyroid health.     2. Find nearby healthcare professionals for
                                                          further diagnosis and treatment.
    <img src="/img/buoyimage.webp" width="500px">     <img src="/img/buoyimg.webp" width="500px">
        </pre>
        </section>

        <section class="hidden">
            <h2>Review your experience</h2>
            <p>
                Your feedback allows us to boost the performance of our website. <br><br>
                Write down the things what you found interesting and what may be improved.
            </p>
            <div class="comment-box">
                <form class="comment-form">
                    <textarea id="comment" name="comment" rows="4"></textarea>
        
                    <button type="submit">Submit</button>
                </form>
            </div>
        </section>
        <!-- <hr>
        <footer>
            <p>Terms</p>
            <p>privacy</p>
            <p>Cookies</p>
        </footer> -->
    </body>
    </html>