<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptoms of thyroid</title>
    <link rel="stylesheet" href="/css/sympt.css"></link>
    <link rel="icon" type="image/png" href="/img/favicon.jpeg">
</head>
<body>

<section class="sec1 show-animate" > 
    <h1 class="animate">What is Thyroid?</h1>
   
    <!-- <img src="{{ url_for('static',filename='img1.jpeg')}}" class="images"> -->
    <p class="animate">The thyroid gland is an important organ of the endocrine system. It is located at the front of the neck just above where your collarbones meet. The gland makes the hormones that control the way every cell in the body uses energy. This process is called metabolism.</p>
    <iframe src="https://giphy.com/embed/LfZQFDp2BCazcgoY9M" width="400" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/nerdbugs-doctor-thyroid-thyroiddisease-LfZQFDp2BCazcgoY9M"></a></p>
    
    <p class="animate">
    The thyroid controls your metabolism with a few specific hormones — T4 (thyroxine, contains four iodide atoms) and T3 (triiodothyronine, contains three iodide atoms). These two hormones are created by the thyroid and they tell the body’s cells how much energy to use.<br><br> When your thyroid works properly, it will maintain the right amount of hormones to keep your metabolism working at the right rate. As the hormones are used, the thyroid creates replacements.
    This is all supervised by something called the pituitary gland. <br>Located in the center of the skull, below your brain, the pituitary gland monitors and controls the amount of thyroid hormones in your bloodstream. When the pituitary gland senses a lack of thyroid hormones or a high level of hormones in your body, it will adjust the amounts with its own hormone. This hormone is called thyroid stimulating hormone (TSH). <br>The TSH will be sent to the thyroid 
    and it will tell the thyroid what needs to be done to get the body back to normal.<br><br>
    When your thyroid doesn’t work properly, it can impact your entire body. If your body makes too much thyroid hormone, you can develop a condition called hyperthyroidism. If your body makes too little thyroid hormone, it’s called hypothyroidism. Both conditions are serious and need to be treated by your healthcare provider.
    </p>

</section>

<section class="sec2">
<h1 class="animate">What are the common symptoms of thyroid disease?</h1>
<p class="animate">
There are a variety of symptoms you could experience if you have a thyroid disease. Unfortunately, symptoms of a thyroid condition are often very similar to the signs of other medical conditions and stages of life. This can make it difficult to know if your symptoms are related to a thyroid issue or something else entirely.

For the most part, the symptoms of thyroid disease can be divided into two groups — those related to having too much thyroid hormone (hyperthyroidism) and those related to having too little thyroid hormone (hypothyroidism).
</p>



 
    <img src="/img/sy1.jpg">
<!-- <img src="{{ url_for('static',filename='img2.webp')}}" id="img2" class="images">  -->
<h2 class="animate">Symptoms of an overactive thyroid (hyperthyroidism) can include:</h2>
<ul class="animate">

<li>Experiencing anxiety, irritability and nervousness.</li>
<li>Having trouble sleeping.</li>
<li>Losing weight.</li>
<li>Having an enlarged thyroid gland or a goiter.</li>
<li>Having muscle weakness and tremors.</li>
<li>Experiencing irregular menstrual periods or having your menstrual cycle stop.</li>
<li>Feeling sensitive to heat.</li>
<li>Having vision problems or eye irritation.</li>
</ul>



    <img src="/img/sy2.jpg">
<h2 class="animate">Symptoms of an underactive thyroid (hypothyroidism) can include:</h2>
<ul class="animate">


<li>Feeling tired (fatigue).</li>
<li>Gaining weight.</li>
<li>Experiencing forgetfulness.</li>
<li>Having frequent and heavy menstrual periods.</li>
<li>Having dry and coarse hair.</li>
<li>Having a hoarse voice.</li>
<li>Experiencing an intolerance to cold temperatures</li>
</ul>
 </section> 

 <section class="sec5">
<p class="animate">
Thyroid disease can affect anyone — men, women, infants, teenagers and the elderly. It can be present at birth (typically hypothyroidism) and it can develop as you age (often after menopause in women).

Thyroid disease is very common, with an estimated 20 million people in the Unites States having some type of thyroid disorder. A woman is about five to eight times more likely to be diagnosed with a thyroid condition than a man.

You may be at a higher risk of developing a thyroid condition if you:</p>
<ul class="animate">
<li >Have a family history of thyroid disease.</li>
<li >Have a medical condition (these can include pernicious anemia, Type 1 diabetes, primary adrenal insufficiency, lupus, rheumatoid arthritis, Sjögren’s syndrome and Turner syndrome).</li>
<li >Take a medication that’s high in iodine (amiodarone).</li>
<li >Are older than 60, especially in women.</li>
<li >Have had treatment for a past thyroid condition or cancer (thyroidectomy or radiation).</li>
</ul>
</section>

<section class="sec6">
<h1 class="animate">Testing for thyroid</h1>
<iframe src="https://giphy.com/embed/ywH8N6pZoSGn3DAAhi" width="400" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/nerdbugs-doctor-thyroid-thyroiddisease-ywH8N6pZoSGn3DAAhi"></a></p>
<p class="animate">
One of the most definitive ways to diagnose a thyroid problem is through blood tests. Thyroid blood tests are used to tell if your thyroid gland is functioning properly by measuring the amount of thyroid hormones in your blood. These tests are done by taking blood from a vein in your arm.</p>
<p class="animate">Thyroid blood tests are used to diagnose thyroid disorders associated with hyper- or hypothyroidism. These include:</p>
<ul class="animate">
<li>Thyroiditis.</li>
<li>Graves’ disease.</li>
<li>Hashimoto’s disease.</li>
<li>Goiter.</li>
<li>Thyroid nodule.</li>
<li>Thyroid cancer.</li>
</ul>

<!-- <img src="{{ url_for('static',filename='img3.jpeg')}}" id="img3" class="images"> -->
</section> 

 <section class="sec7"> 
    

    <iframe src="https://giphy.com/embed/9rrs7VB7wtlDWWOIB7" width="420" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/diabetes-bsl-9rrs7VB7wtlDWWOIB7"></a></p>
    <h2 class="animate">
        The specific blood tests that will be done to test your thyroid can include:</h2>    
<ul class="animate">
<li><strong>Thyroid-stimulating hormone (TSH) </strong>is produced in the pituitary gland and regulates the balance of thyroid hormones — including T4 and T3 — in the bloodstream. This is usually the first test your provider will do to check for thyroid hormone imbalance. Most of the time, thyroid hormone deficiency (hypothyroidism) is associated with an elevated TSH level, while thyroid hormone excess (hyperthyroidism) is associated with a low TSH level. If TSH is abnormal, measurement of thyroid hormones directly, including thyroxine (T4) and triiodothyronine (T3) may be done to further evaluate the problem. Normal TSH range for an adult: 0.40 - 4.50 mIU/mL (milli-international units per liter of blood).</li>
<li><strong>T4: </strong>Thyroxine tests for hypothyroidism and hyperthyroidism, and used to monitor treatment of thyroid disorders. Low T4 is seen with hypothyroidism, whereas high T4 levels may indicate hyperthyroidism. Normal T4 range for an adult: 5.0 – 11.0 ug/dL (micrograms per deciliter of blood).</li>
<li><strong>FT4: </strong>Free T4 or free thyroxine is a method of measuring T4 that eliminates the effect of proteins that naturally bind T4 and may prevent accurate measurement. Normal FT4 range for an adult: 0.9 - 1.7 ng/dL (nanograms per deciliter of blood)</li>
<li><strong>T3: </strong>Triiodothyronine tests help diagnose hyperthyroidism or to show the severity of hyperthyroidism. Low T3 levels can be observed in hypothyroidism, but more often this test is useful in the diagnosis and management of hyperthyroidism, where T3 levels are elevated. Normal T3 range: 100 - 200 ng/dL (nanograms per deciliter of blood).</li>
<li><strong>FT3: </strong>Free T3 or free triiodothyronine is a method of measuring T3 that eliminates the effect of proteins that naturally bind T3 and may prevent accurate measurement. Normal FT3 range: 2.3 - 4.1 pg/mL (picograms per milliliter of blood)</li>
</ul>

</section>

 <!-- <section class="sec8">
    <div class="images">
    <img src="/img/img1.jpeg" id="img1" class="animate" style="--i:0">
    <img src="/img/img2.webp" id="img2" class="animate" style="--i:1">
    <img src="/img/img3.jpeg" id="img3" class="animate" style="--i:2">
    </div>
</section>  -->

<!-- <script src="/js/sympt.js"></script> -->
</body>
</html>