@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: #1D212B;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:0 20px ;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.hero{
    background: #fdcc04;
}
.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px)/2);
}
.column-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 2rem;
}

.column-left h1{
    margin-bottom: 1rem;
    font-size:3rem;

}

.column-left p{
    /* margin-right: 0; */
    margin-bottom: 2rem;
    font-size:1.5rem;
    line-height: 1.5;
    
}

button{
    padding: 1rem 3rem;
    font-size: 1rem;
    border: 2px solid transparent;
    color: #000000;
    background: white(255, 255, 255);
    cursor: pointer;
    border-radius: 50px;
}

button:hover{
    background: rgb(227, 155, 23);
    color: white;
}

.column-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;

    
}

.hero-image{
    width: 100%;
    height: 80%;

}

@media screen and (max-width: 768px) {
    .hero-container{
        grid-template-columns: 1fr;
    }
    
}
/* .title{
    text-align: left;
} */
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-child(1){
    color: #fff;
    /* text-align: left; */
}
section:nth-child(2){
    color: #1D212B;
    background: #fff;
}
section:nth-child(3){
    color: #fff;
}
section:nth-child(4){
    color: #1D212B;
    background: #fff;
    
}
section:nth-child(5){
    color: #ffffff;
    background: #1D212B;
    
}
section .container{
    margin: 100px
}
section h1{
    font-size: 60px;
}
section h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
section .vidclass{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding:  0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    overflow: hidden;
   

}
.back-video{
    width: 1530px;
    position: absolute;
    right: 0;
    left: 0;
    filter: brightness(70%);
    
}

.content-container{
    text-align: center;
    z-index: 0;
}
section .cards{
    display: flex;
}
section .cards .text-card{
    background: #2696E9;
    margin: 20px;
    padding: 20px;
}
section .cards .text-card h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
@media(max-width:900px){
    section  h1{
        font-size: 40px;
    }
    section .cards{
        flex-direction: column;
    }
}
.slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: #1D212B;
    padding: 40px 0;
}
.slide-content{
    padding: 45px 20px;
    margin: 0 40px;
    background-color: rgb(212, 181, 181);
    overflow: hidden;
    border-radius: 25px;
}
.card1{
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.description{
    color: black;
}
.image-content{
    row-gap:5px ;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: transparent;
    padding: 3px;
}
/* .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
} */
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button1{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;

}
.image-content{
    position: relative;
    /* row-gap : 5px; */
    /* padding: 25px 0; */
    
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background: url('img1.jpg') center center / cover no-repeat;  */
    /* background-color: #4070F4; */
    border-radius: 25px 25px 0 25px ;
}
.sld1{
    background: url('/img/s1.jpg') center center / cover no-repeat; 
}
.sld2{
    background: url('/img/s2.jpg') center center / cover no-repeat; 
}
.sld3{
    background: url('/img/s3.jpg') center center / cover no-repeat; 
}
.sld4{
    background: url('/img/s4.jpg') center center / cover no-repeat; 
}
.overlay ::before,
.overlay ::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px ;
    width: 40px;
    background-color: #4070F4;
}
.overlay ::after{
    border-radius: 0 25px;
    background-color: #fff ;

}

.butt {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.button2{
    width: 300px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid transparent;
    background-color: #9daaf2;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    /* position: relative;
    overflow: hidden; */
    
}
.button2:hover span{
    width: 100%;
}
.button2:hover{
    color: #000000;
    /* border: none; */
    background-color: rgb(147, 194, 207);
}
.swiper-navBtn{
    color: #6e93f7;
    transition: color 0.3s ease;
}
.swiper-navBtn :hover{
    color: #4070F4;
}
.swiper-navBtn ::before,
.swiper-navBtn ::after{
    font-size: 40px; 
}
.swiper-button-next{
    right: 00;
}
.swiper-button-prev{
    left: 00;
}
.swiper-pagination.bullet{
    color: #6e93f7;
    opacity: 1;

}
.swiper-pagination.bullet-active{
    background-color:#4070F4 ;
}

footer{
    width: 100%;
    background-color:  #f5f7fb;
  }
  .footer-container{
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    padding: 50px 0px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-company-box{
    max-width: 330px;
  }
  .footer-company-box p{
    color: #585858;
    margin: 5px 0px;
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    line-height: 1.4rem;
  }
  .footer-social{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-social a{
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e9e9e9;
    color: #333333;
    font-size: 0.9rem;
    transition: all ease 0.3s;
  }
  .footer-social a:hover{
    background-color: #122853;
    color: #ffffff;
  }
  .footer-link-box strong{
    font-size: 1.2rem;
    color: #122853;
    font-weight: 600;
  }
  .footer-link-box ul{
    margin-top: 5px;
  }
  .footer-container ul li a{
    color: #585858;
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: flex;
    transition: all ease 0.3s;
  }
  .footer-container ul li {
    color: #585858;
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: flex;
    transition: all ease 0.3s;
  }
  .footer-container ul li a:hover{
    color: #122853;
  }
  .footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 10px;
    border-top: 1px solid #e9e9e9;
    padding: 20px 0px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
  }
  .footer-bottom span{
    color: #252525;
    font-size: 0.9rem;
  }

    /* Popup styles */
  .popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    backdrop-filter: blur(5px); /* Adjust the blur amount for the popup background */
    padding: 50px;
    max-width: 900px;
    text-align: center;
    border-radius: 10px;
    padding-top: 10px;
    position: relative;
    font-size: 20px;
    padding-top: 5px;
}


/* Close button styles */
.close-btn {
    cursor: pointer;
    font-size: 20px;
    color: rgb(0, 0, 0);
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
}

.popup-content div {
    text-align: left;
    padding-left: 3px
}
.popup-content {
  max-width: 2000px; 
}